/* Firebug styles */
#elementfinder-container {
	width: 70%;
	padding: 10px 20px;
}

#elementfinder-container h1 {
	margin: 0 0 10px;
	border-bottom: 1px solid #000;
}

#elementfinder-help-text {
	font-weight: normal;
	font-size: 10px;
}

#elementfinder-field {
	width: 70%;
	margin-right: 10px;
}

#elementfinder-container h2 {
	margin: 20px 0 10px;
	border-bottom: 1px solid #aaa;
}

#elementfinder-results .elementfinder-result-item {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

#elementfinder-results .elementfinder-result-item.odd {
	background: #eee;
}

#elementfinder-results .elementfinder-result-item h1 {
	margin: 0 0 10px;
	border-bottom: none;
}